<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="customerDAO" class="Programming.to.aninterface.spring.SpringJdbc.JdbcCustomerDao">
		<property name="dataSource" ref="dataSource" />
		<property name="sql" value="SELECT * FROM CUSTOMER WHERE CUSTOMER_ID = ?;" />
	</bean>

</beans>